*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,  Helvetica, Arial,sans-serif ;
}
header{
    display: flex;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid rgba(187, 177, 177, 0.726);
    justify-content: space-between;
    align-items: center;

}

.logo_container{
    margin-left: 2%;
}
.myntra_logo{

 height: 36px;
 
}
.action_bar{

    margin-left:4%;
}
.nav_bar{
    display: flex;
  min-width: 500px;
    justify-content: space-evenly;
    
}
.nav_bar a{
    font-size: 12px;
    letter-spacing: .3px;

    color: black;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px  0;
    

}

.nav_bar a sub{
    color: red;
    font-size: 10px;
}
.search{
    width: 30%px;
    display: flex;
    align-items: center;
    min-width: 200px;


}
.search_bar{
background-color:rgba(14, 6, 6, 0.089);
  height:25px ;
  width: 350px;
  border: 0;
   border-radius: 0 6px 6px 0;
  
}
.action_bar{
display: flex;
width: 107px;
justify-content: space-evenly;
}
.action_container{
  display: flex;
    align-items: center;
    flex-direction: column;
    
}
.action_name{
    font-size: 10px;
}
.bahItem{
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  color: #fff;
  left: 13px;
  top: -30px;
  font-weight: 700;
  cursor: pointer;

}
.nav_bar1 :hover{
     border-bottom: 2px solid darkorchid;
}

.nav_bar2 :hover{
    border-bottom: 2px solid  darkred;
    
}
.nav_bar3 :hover{
    border-bottom: 2px solid rgb(211, 233, 10);
    
}
.nav_bar4 :hover{
    border-bottom: 2px solid rgb(214, 124, 13);
    
}
.nav_bar5 :hover{
    border-bottom: 2px solid  rgb(48, 13, 204);
}
.nav_bar6 :hover{

    border-bottom: 2px solid rgb(24, 230, 24);
}

.banner_image{
   
    
    
    
   margin: 0px 0;

}
.image1{

    width: 95%;
    margin-left: 2.5%;
   
    

}
.category_heading{

    text-transform: uppercase;
    color: black;
    letter-spacing: .1em;
    font-size: 1.4em;
   
font-weight: 750;
    margin: 50px 0 10px 30px;
    max-height: 5em;

}
.top_deals{

width: 80%;

object-fit: contain;
margin-left: 9.8%;


}
.item{
    
    margin: 2% ;
    display: flex;
    justify-content: space-evenly;
flex-wrap: wrap;
  
}
.item1{
   height: 200px;
    
    
    
}

/* .new_container {
    width:500px ;
    margin: 50px 10%;
    background-color: rgb(10, 46, 165);
    display: flex;
    justify-content: space-evenly;
flex-wrap: wrap;
  
}  */


.must{
   height: 300px;   
}

.footer_container{
/* margin: 10%  0; */
padding: 30px 0px 40px 0px ;
display: flex;
background-color: rgba(238, 228, 228, 0.144);
/* margin: 0 0px; */
justify-content: space-evenly;
}
 .footer_column{
    display: flex;
    margin-top: 2%;
    
 flex-direction: column;  
    

}

.footer_column h3{
    margin-bottom: 15px;
}


.footer_column a{
 display: flex;
    flex-direction: column;
    font-size: small;
    color: rgba(37, 12, 12, 0.753);
    text-decoration: none;
    font-weight: 500px;
    
} 

.new_container{
    widh: 500px;
    margin: 50px 50px;
    display: flex;
    justify-content: space-evenly;
flex-wrap: wrap;
backgrund-color: rgb(51, 11, 230);

      }
      .new1_container{
      width: 227px;
      margin-top: 100px;
      }
    
      .must_bitic{
    width: 100%;
      }
      .akJagah{
      width: 100%;
      }
    
      .rating{
    font-size: 12px;
    font-weight: 700px;
    
      }
      .company_name {
        margin-top: 10px; ;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: black;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
      }
    
    
      .item_name{
    
    color: black;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    display: block;
      }
      .price{
        width: 100%;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1;
    color: black;
    white-space: nowrap;
      }
      .current-price{
        font-size: 14px;
        font-weight: 700;
        color: black;
    
    
      }
      .original-price{
    
        text-decoration: line-through;
        color: black;
        font-size:12px ;
        font-weight: 400;
        margin-left: 5px;
    
    
      }
      .discount{
    
    color: tomato;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
      }
    
      .btn-add-bag{
    
    background-color: rgb(7, 223, 54);
    font-weight: 800;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
      }
