
*{

  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style : normal;
  

}
#navigation-bar{

align-items: center;
  height: 57px;
  background-color: rgba(128, 128, 128, 0.021);
 
  box-shadow :0 0 1px rgb(134, 134, 134);
  display: flex;
  margin-top: 0px ;

  
}
.home{
  background: url("images/image.jpg");
color: white;
padding: 10px;
/* height: 26px; */
font-size: 20px;
border-radius: 10px;
cursor: pointer;
display: flex;



}
.myclass{


  font-size: 0px;
}
.homie{
  font-size: 12px;
 align-self: center;
 color: rgb(11, 197, 230);
}

.calls{
  font-size: 12px;
  color:rgb(11, 228, 11);
  
}

.contact{
  min-width: 366px;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(53, 175, 28);
  display: flex;
  align-items: center;
  width: 500px;
}

.right-nav{
  min-width: 238px;
  justify-content: space-evenly;
  width: 531px;
  margin-left: 406px;

  display: flex;
}
.call-icon{
  /* height: 20px; */
height: 43px;


 
font-size: 20px;
border-radius: 10px;
  color: white;
  background: url("images/image.jpg ");
  
 
  padding: 10px;
  cursor: pointer;
}
.direction{
  /* height: 20px; */

  height: 43px;
font-size: 20px;
border-radius: 10px;
  background: url("images/image.jpg");
  color: white;
  padding: 10px;
  cursor: pointer;

  


}

.share{
  /* height: 20px; */
  height: 43px;
font-size: 20px;
border-radius: 10px;
  background: url("images/image.jpg");
  color: white;
  padding: 10px;
  cursor: pointer;
}
.photos{
  /* height: 20px; */
  height: 43px;
font-size: 20px;
border-radius: 10px;

  background: url("images/image.jpg");
  color: white;
  padding: 10px;
  cursor: pointer;
}
#grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px

}
/* .a{
  height: 100vh;
} */

.center{
  justify-items: cener;
 /* margin-top: 6px; */
 
}
#shopName{
  border-radius: 20px;
  height: 80px;
  padding: 0 20px;
  width: 330px;
font-size: 200%;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style : normal;
  background: url("images/image.jpg");
 color: whitesmoke;
 text-align: center;
 align-content: center;
 color: yellow;
 margin-left: 5px;
}
#contents{
  display: flex;
  flex: wrap;
  justify-content: center;
margin-left:100px ;



}
.content{
  
  /* height: 70px; */
  /* cdn bad */
/* height: 65px;  */
height: 55px;
  /* width: 100px; */
  width: 150px;
margin-right: 100px;
 text-align: center;
 align-content: center;
 border:solid rgba(0, 0, 0, 0.473);
 padding: 0 20px ;
/* padding: 0px 12px 0px 12px ; */

 background: url("images/image.jpg");
 color: white;
 cursor: pointer;
}
#firstItem{
 
  
 
}
#secondItem{
 
  
}
#thirdItem{
  
  
}

.content1{
  margin-top: 20px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0);
  /* border: solid  rgba(214, 199, 197, 0.322); */

  height: 200px; 

  box-shadow :0 0 1px rgb(134, 134, 134);
 
  /* text-overflow:ellipsis; */
}

.button{
position: relative;
left: 245px;
bottom: 28px;
width: 50px;
height: 24px;
padding-right: 10px;
width: 100px;
border: none;
box-shadow: none !important ;




}

.item_Content{
  margin: 10px;


}
.problemView{
  display: flex;
  justify-content: space-between;



}
.image_And_Problem{

/* margin-top: 16px;
  display: flex;
  align-content: center;
  flex: wrap; */

}
.side{


  position: relative;
  right: -23;
  width: 100px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}
.image_And_Problem1{

/* margin-right: 10px; */

}
.image_data {
 

}
.image{
  /* margin-left: 70px; */
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0);
 
  padding: 0 30px;
  margin-top: 0;


}

.image img{

  height: 160px;
  width: 350px;
  border-radius: 0px;
}
.problem{

  overflow: hidden;
  text-overflow: ellipsis;
}
.content1 .item_Content button{

position: relative;
right: 20px;
}
.view{
 
 /* position:relative;
 left: 30px; */
}


.micRepair{

height: 150px;
width: 300px;

}
.item-content-header{

  margin-bottom: 0px;
}
.problem_Name{

 /* display: inline;
margin-right: 511px; */
font-size: 20px; 


}
.call-button {
 width: 100px;
 height: 25px;
 background-color: rgba(29, 122, 5, 0.527);
 font-size: 15px;
 color: white;

}

.calling{

  margin-right: 40px;
}
.problem{
font-size: 14px;}
.ratings{
margin-top: 50px;
margin-left: 50px;

}

.rating{
  display: flex;
  height: 100px;
  width: 677px;
  box-shadow :0 0 5px rgb(134, 134, 134);

  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 10px;
}
.userName{
  font-size: 20px;
  font-weight: 300;
}
.comment{
font-size: 25px;
margin-right: 45px;
}

.star{
 
  cursor: progress;
  font-size: 18px;
  display: flex;

}
.star1, .star2, .star3, .star4, .star5{
  margin-right: 5px; 
  opacity: .3;
}
.hover{
  opacity: 1;

}
.hover1{
  opacity: .2;
}


.charger{
  height: 250px;
  width: 300px;
  margin-left: 20px;
}
.price{
  height: 250px;
  width: 300px;
  margin-left: 20px; 
}
.leftBar{

margin-left: 20px;

}
.Prayagraj{

  
  margin-left: 18px;
}
#ptaGar{
  margin-right: 5px;

}
#time{
 
  height: 10px;
  width: 10px;
  background-color: rgba(20, 20, 20, 0.822);
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
 

}
#clock{
display: inline-block;
color: rgba(5, 25, 116, 0.795);
font-weight: 500;

}
#star1,#star2,#star3,#star4,#star5{

  display: none;
}

