#second{
    text-align: center;
    font-size:25px ;
    color: red;
    background-color: black;
}
#comtainer{
    background-color: blue;
    margin: 20px;
    height:450px; 
    width: 550px;
padding: 10px;
border: solid black;
display: grid;
justify-content:center;

grid-template-columns: 50px 70px;
grid-template-rows: 50px 70px;


}
.box{
    font-size: 20px;
    color:red;
    
    margin:5px ;
    height: 50px;
    width:50px;
    text-align: center;
    border:black solid ;
    
    
}
     
#box1{
    background-color: blueviolet;
 grid-column: 1/2;
 grid-row: 1/2; 
}
#box2{
    background-color: yellow;
grid-column: 2/2;
grid-row: 1/2;
}
#box3{
background-color: chartreuse;

}
#box4{
    background-color: teal;
}
#box5{
background-color: cornflowerblue;
}
